body {
    background: #046173;
}
.assignment {
    display: flex;
    padding: 10px;
    background: #02A3A6;
    margin:10px;
}
.assignment img {
    width:300px;
    padding:15px;
}
h1 {
    color:whitesmoke;
}
h2 {
    color:whitesmoke;
}
p {
    color: whitesmoke;
}
a {
    text-decoration: none;
}