body {
    background: #046173;
}
.assignment {
    display: flex;
    padding: 20px;
    background: #02A3A6;
    margin:30px;
    border-radius: 25px;
    box-shadow: 15px 10px  whitesmoke;
}
.assignment img {
    width:300px;
    padding:10px;
    border-radius: 20px;
    box-shadow: 15px 10px  #046173;
}
.assignment-details {
    display: flex;
    padding:40px;
}
h1 {
    color:whitesmoke;
}
p {
    color: whitesmoke;
}
a {
    text-decoration: none;
    color:whitesmoke;
}
.assignment h2:hover {
    color: skyblue ;
}